body{
margin: 0;
padding: 5rem;
width : 100%;
font-family: 'Fuzzy Bubbles', cursive;
display: flex;
justify-content: center;
background:url("doodle-coleccion-elementos-dia-san-valentin_52683-53937.png");
background-repeat: no-repeat;
background-size: cover;
}

.container{
	background: rgba(146, 78, 194, 0.35);
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 10px );
	-webkit-backdrop-filter: blur( 12px );
	border-radius: 35px;
	border: 3px solid rgba( 255, 255, 255, 0.18 );	
	text-align: center;
	margin: 0;
	padding: 0;
	width: 28%;
	height: 30rem;
}

h1{
font-size: 35px;
}

h2{
font-size:35px;
position: relative;
right:730px;
top: 290px;
}

#movingbutton{
margin-left: auto;
margin-right: auto;
display: block;
position: absolute;
left: 308px;
top: 140px;
border:none;
cursor: pointer;
background-color: rgb(0, 0, 0);
color: white;
font-weight: bolder;
font-size: 18px;
width: 65px;
height:50px;
border-radius: 12px;
}

#alert{
margin-left: auto;
margin-right: auto;
position: absolute;
left: 110px;
top: 138px;
border:none;
cursor: pointer;
background-color: rgb(0, 0, 0);
color: white;
font-weight: bolder;
font-size: 18px;
width: 65px;
height:50px;
border-radius: 12px;
}

img{
  display: none;
position: absolute;
left: 30px;
top: 150px;
}
